<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="model" default="$(find kh4_description)/sdf/kh4.urdf"/>
	<arg name="rvizconfig" default="$(find kh4_description)/rviz/urdf.rviz" />
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find kh4_gazebo)/config/diff_drive.yaml"
            ns="kh4_diff_drive_controller" />

  <node name="kh4_controller_spawner" pkg="controller_manager" type="spawner"
    args="kh4_diff_drive_controller
          --shutdown-timeout 3"/>

  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="/kh4_diff_drive_controller/cmd_vel"/>
  </node>
  
  <!-- 
  <rosparam file="$(find kh4_gazebo)/config/gazebo_ros_control_params.yaml" command="load"/>
 -->
 
 
   <master auto="start"/>
 <!-- Run the map server  
    <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution"/>-->

 <!--- Run AMCL --> 
    <include file="$(find amcl)/examples/amcl_diff.launch" />

   <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find kh4_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find kh4_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find kh4_gazebo)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find kh4_gazebo)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find kh4_gazebo)/config/base_local_planner_params.yaml" command="load" />
 </node>
 
</launch>
