<launch>
  <!-- default args, overwritten by caller -->
  <arg name="name" default="kh4"/>
  <arg name="pos_x" default="0.0"/>
  <arg name="pos_y" default="0.0"/>
  <arg name="pos_z" default="0.0"/>
  <arg name="namespace_arg" default=""/>

	<!--<param name="tf_prefix" type="string" value="$(arg namespace_arg)"/>-->
	
  <!-- Spawn general model for the kh4 -->
  <arg name="model" default="$(find kh4_description)/sdf/kh4.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'" />
  
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description
              -urdf
              -x $(arg pos_x)
              -y $(arg pos_y)
              -z $(arg pos_z)
              -model $(arg name)"
        respawn="false" output="screen">
  </node>
  
<!---->
	<node name="joint_state_publisher" 
				pkg="joint_state_publisher" 
				type="joint_state_publisher" >
				<param name="tf_prefix" type="string" value="$(arg namespace_arg)"/>
	</node>


  <node pkg="robot_state_publisher" 
  			type="robot_state_publisher"  
  			name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
		<!-- <param name="tf_prefix" type="string" value="$(arg namespace_arg)"/> -->
  </node>

	<!--
	<arg name="rvizconfig" default="$(find kh4_description)/rviz/urdf.rviz" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
	-->
	
	<!-- Controller -->
  <rosparam command="load"
            file="$(find kh4_gazebo)/config/$(arg namespace_arg)_diff_drive.yaml"
            ns="kh4_controller" />

  <node name="kh4_controller_spawner" 
  			pkg="controller_manager" 
  			type="spawner"
    		args="kh4_controller"/>

	<!-- Joystick -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
    <param name="default_topic" value="$(arg namespace_arg)/kh4_controller/cmd_vel"/>
  </node>
  

</launch>
